{% extends "layout.html" %}
{% block content %}
<style>
    h2 {
        color: #FFFFFF;
    }

    p {
        color: #FFFFFF;
    }

    li {
        padding: 20px;
        border: 1px solid #CCCCCC; /* 添加边框 */
        margin-bottom: 50px; /* 在博客条目之间添加底部边距 */
        margin-top: 50px; /* 在博客条目之间添加底部边距 */
    }
</style>


           

            <ul>
                <li>
                    <h2>Why You Should Join BurnOut Today</h2>

                    <p>


                        <b><p><span style="font-size: 20px;">1. Personalized Workouts:</span></p> </b>
                    <p>BurnOut features a variety of workout programs best suited for your goals and interests. The workout programs range from yoga, dance, swimming and many more.</p>

                    <b><p><span style="font-size: 20px;">2. Convenience and Flexibility: </span></p> </b>
                    <p>With our fitness application, you can work out anywhere, anytime, even if you’re traveling or have a busy schedule. Most exercises can be done at home or the gym, so it's easy to fit in a workout whenever you have a few minutes.</p>

                    <b><p><span style="font-size: 20px;">3. Goal Tracking and Progress Monitoring: </span></p></b>
                    <p> Our fitness application track your workouts, nutrition, steps, and even sleep. This allows you to see your progress over time, which can be motivating and help you stay on track.</p>

                    <b><p><span style="font-size: 20px;">4. Community and Motivation: </span></p></b>
                    <p> BurnOut has a community feature where you can connect with other users, share progress, and stay motivated.</p>
                    <div class="image-container" style="display: flex; justify-content: center; align-items: center; max-width: 440px; margin: 0 auto;">
                        <img class="img-fluid" src="../static/img/Group.jpg" width="440px" style="padding: 5px 10px;">
                    </div>

                        <b><p><span style="font-size: 20px;">5. Affordability: </span></p></b>
                        <p> Our fitness application is more afforable than in-person trainers and gym memberships.</p>

                        <b><p><span style="font-size: 20px;">6. Accountability and Consistency: </span></p></b>
                        <p> With reminders and habit-tracking features, BurnOut help you stay consistent and make working out a regular part of your routine.</p>

                        <b><p><span style="font-size: 20px;">7. Workout Gear Shop: </span></p></b>
                        <p>
                            BurnOut hosts a shop that offers users variety of exercise gear that complements their workout routine.



                        </p>

                        <p>We hope these reasons were enough to convince you to sign in our fitness application and avail the benefits associated with a healthier mind and body.</p>
                </li>
            </ul>
            <div class="image-container" style="display: flex; justify-content: center; align-items: center;">
                <img class="img-fluid" src="../static/img/groupexercise.jpg" width="550px" style="padding: 5px 10px;">

          

            {% endblock content %}
