name: Tests
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mongodb-version: ['7.0']
    steps:
      - uses: actions/checkout@v4
        with:
          ref: develop
      - name: Merge changes into develop
        run: |
          # Get the branch that the pull request is based on or the current push branch
          if [ "$GITHUB_EVENT_NAME" == "pull_request" ]; then
            PR_BRANCH=${{ github.head_ref }}  # Get the branch for PRs
          fi

          echo "Merging changes from branch $PR_BRANCH into develop"

          # Fetch the branch
          git fetch origin $PR_BRANCH

          # Merge the branch into develop
          git merge origin/$PR_BRANCH
      - name: Install Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.15
      - name: Install dependencies
        run: |
          pip install pytest-cov
          pip install -r requirements.txt
          echo requirements installed
        # pip uninstall bson
        # pip uninstall pymongo
        # pip install pymongo
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.10.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: Run tests
        run: |
          python -m pytest tests
